html,
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  line-height: 1.2;
}

html {
  font-size: 20px;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 28px;
  }
}

#app {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
#app.home {
  z-index: 100;
}

h1 {
  letter-spacing: -1.5px;
  font-weight: 900;
  text-shadow: 2px 2px #17141f;
}

a {
  color: inherit;
  text-shadow: 1px 1px #17141f;
}

*,
*:after,
*:before {
  margin: 0;
  box-sizing: border-box;
}

p {
  opacity: 0.65;
  text-shadow: 1px 1px #17141f;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.navigation {
  top: 0rem;
  left: 0rem;
  right: 0;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  position: fixed;
  z-index: 30;
  top: 1rem;
  left: 1rem;
  margin: 0rem auto 0;
  font-weight: 900;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 2rem;
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
}

a.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a.button span {
  margin-left: 0.5em;
}

.play-button {
  flex-direction: column;
  align-items: start;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 1rem 1rem;
  min-height: 3rem;
}

.play-button__name {
  text-shadow: 2px 2px #17141f;
  font-size: 0.875rem;
  font-weight: 900;
  margin-bottom: 0.25rem;
  white-space: nowrap;
}

.play-button__name:first-letter {
  opacity: 0.65;
  font-weight: initial;
}

.play-button__description {
  font-size: 0.5rem;
  display: block;
  opacity: 0.65;
  margin-left: 0.75rem;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

button:active {
  background-color: rgba(255, 255, 255, 0.07);
}

button svg {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

button svg + span {
  margin: 0 0.5rem;
  pointer-events: none;
}

.footer {
  position: fixed;
  z-index: 30;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
  font-size: 0.5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.sketch-grid {
  display: flex;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 4rem;
  grid-template-rows: unset;
  overflow: scroll;

  height: calc(100vh - 2.5rem);
  /* overflow: auto; */
  width: 100%;

  gap: 1rem;
  padding: 7rem 1rem 1rem;
}
@media screen and (min-width: 786px) {
  .sketch-grid {
    grid-auto-rows: 4rem;
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .sketch-grid {
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr) minmax(
        250px,
        1fr
      );
  }
}

.hero-title {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

.hero-title--home {
  background-color: #17141f;
  z-index: 50;
  position: relative;
  /* margin: 0; */
}
.hero-title--sketch {
  margin-top: 2rem;
}

.hero-title span {
  margin-top: 0.25rem;
  opacity: 0.65;
  text-shadow: 2px 2px #17141f;
}
