#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 10;
  margin: 3rem;
  line-height: 1.2;
}

*,
*:after,
*:before {
  margin: 0;
}

p {
  opacity: 0.65;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.navigation {
  bottom: 2rem;
  left: 1rem;
  right: 1rem;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-buttons {
  margin: auto;
  display: flex;
  grid-template: auto / 1;
  grid-template-columns: 240px;

  gap: 1rem;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

button:active {
  background-color: rgba(255, 255, 255, 0.15);
}

button svg {
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}

button span {
  margin: 0 0.5rem;
  pointer-events: none;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 24px;
  }
}
