#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin-top: 60px;
  position: relative;
  z-index: 10;
}

p {
  opacity: 0.65;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
